{include file="public:head_center" /}
    <!-- 主体内容 S -->
    <div class="main w1000" style="background:#fff;">

       <div class="myexam">
           <!--startprint1-->
           <table width="800" style="margin:0 auto;border-radio:5px;">
                <tr class="line-table-height" style="color:#333;font-size:16px;background:#971f21;color:#fff;line-height:35px">
                   <td class="k-s-content"  width="40%">科目</td>
                   <td class="k-s-content" >成绩</td>
               </tr>
               {if condition="!empty($major_score_arr)"}
               {foreach name="major_score_key" item="v" key="k"}
               <tr class="line-table-height">
                   <td class="k-s-content"  width="40%">{$v}</td>
                   <td class="k-s-content" >{if isset($major_score_arr[$k])}{$major_score_arr[$k]}{/if}</td>
               </tr>
               {/foreach}
               <tr class="line-table-height">
                   <td class="k-s-content" width="40%" >核定理论成绩</td>
                   <td class="k-s-content" >{$major_score_total}</td>
               </tr>
               <tr class="line-table-height">
                   <td class="k-s-content" width="40%" >技能考核成绩</td>
                   <td class="k-s-content" >{$recruit_score}</td>
               </tr>
               <tr class="line-table-height">
                   <td class="k-s-content" width="40%" >总分</td>
                   <td class="k-s-content" >{$total_score}</td>
               </tr>
               {else/}
               <tr class="line-table-height">
                   <td class="k-s-content"  width="40%" colspan="12" >未录入成绩</td>
               </tr>
               {/if}
           </table>
           <!--endtprint1-->
         
       </div>

    </div>


    <!-- 主体内容 E -->
    <!-- footer S -->
<script type="text/javascript">
    $('body').on('click','.preview_btn',function(){
        preview(1);
    });
    $('.confirm_grade_btn').click(function(){
        if(confirm("打印后成绩不可再修改或录入,确定要打印吗？"))
        {
            var $this = $(this);
            $this.text('请稍等...');
            $.ajax({
                url: "/home/center/confirm_grade",
                data:{},
                success: function(data){
                    $this.text('打印');
                    $this.removeClass('confirm_grade_btn').addClass('preview_btn');
                    preview(1);
                }
            });
        }
    });
</script>
{include  file="public:footer" /}
