{extend name="admin@public/base" /}
{block name="main-content"}
	<div class="mainPcontent">
		{if $admin['group_id'] == 3}
		<div class="zz-infobox">
			{foreach name='statistics' item='val'}
			<div class="zz-infobox-item">
				<div class="zz-infobox-item-title">{$val.major_name}</div>
				<div class="zz-infobox-item-count">学生人数：{$val.student_count}</div>

				<ul class="zz-infobox-item-list">
					<li>
						<span>报名已审核</span>
						<p>{$val.enrolment_auditing_count}</p>
					</li>
					<li>
						<span>报名未审核</span>
						<p>{$val.enrolment_unauditing_count}</p>
					</li>
					<li>
						<span>分数已审核</span>
						<p>{$val.score_auditing_count}</p>
					</li>
					<li>
						<span>分数未审核</span>
						<p>{$val.score_unauditing_count}</p>
					</li>
				</ul>
			</div>

			{/foreach}
		</div>
		{/if}
		{if $admin['group_id'] == 4}
				<div class="infobox-box">
						<div style="height:100%;">
							<div class="infobox-data">

								<div class="infobox-content info-box  info-box-green"><span>学生人数</span><p>{$statistics.student_count}</p></div>
								<div class="infobox-content info-box  info-box-yellow"><span>分数已审核</span><p>{$statistics.score_auditing_count}</p></div>
								<div class="infobox-content info-box info-box-blue"><span>分数未审核</span><p>{$statistics.score_unauditing_count}</p></div>
							</div>
						</div>
					</div>


		{/if}
		{if $admin['group_id'] == 1 || $admin['group_id'] == 5}
					<div class="infobox-box">
						<div style="height:100%;">
							<div class="infobox-data">
								<div class="infobox-content info-box  info-box-blue"><span>高职专业</span><p>{$statistics.school_count}</p></div>
								<div class="infobox-content info-box  info-box-green"><span>中职学校</span><p>{$statistics.recruit_major_count}</p></div>
								<div class="infobox-content info-box  info-box-yellow"><span>中职专业</span><p>{$statistics.major_count}</p></div>
								<div class="infobox-content info-box info-box-blue"><span>技能考核分数线</span><p>{$statistics.min_score}</p></div>
								<div class="infobox-content info-box info-box-green"><span>招生计划数</span><p>{$statistics.enroll_count}</p></div>
								<div class="infobox-content info-box info-box-yellow"><span>已录取人数</span><p>{$statistics.enroll_student_count}</p></div>
							</div>
						</div>
					</div>
		{if $admin['group_id'] == 1}
		{:hook('maintain')}
		{/if}
		{/if}
	</div>
{/block}
