{extend name="admin@public/base" /}
{block name="main-content"}
	<div class="page-content">



		<!--主题-->
		<div class="page-header">
			<h1>
				您当前操作
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					修改中职（{$school.school_name}）专业 {$major.major_name}
				</small>
			</h1>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<form class="form-horizontal ajaxForm" name="school_list_add" method="post" action="{:url('admin/School/major_runedit')}">
					<input type="hidden" name='major_id' value="{$major.major_id}">
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 专业名称： </label>
						<div class="col-sm-10">
							<input type="text" name="major_name" value="{$major.major_name}" required/>
						</div>
					</div>
					<div class="space-4"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 中职专业代码： </label>
						<div class="col-sm-10">
							<input type="text" name="major_code" value="{$major.major_code}" required/>
						</div>
					</div>
					<div class="space-4"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 招生计划 </label>
						<div class="col-sm-10">
							<input type="text" name="number" value="{$major.number}" required/>
						</div>
					</div>
					<div class="space-4"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 可报考专业： </label>
						<div class="col-sm-10">
							<select name="recruit_major_id" class="col-sm-4 selector" required>
								<option value="">请选择可报考专业</option>
								{foreach name="recruit_major_list" item="v"}
									<option value='{$v.recruit_major_id}' {if condition="$v['recruit_major_id'] eq $major.recruit_major_id"}selected{/if}>{$v.recruit_major_name}</option>
								{/foreach}
							</select>
						</div>
					</div>
					<!--
					<div class="space-4"></div>
					{foreach name="major_score" key="k" item="v"}
					<div class="form-group major_score_group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 科目{$k+1}： </label>
						<div class="col-sm-10">
							<input type="text" name="score[]" value="{$v}" />
						</div>
					</div>
					<div class="space-4"></div>
					{/foreach}
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"></label>
						<div class="col-sm-10">
							<i class="hanle_count fa fa-plus-circle"></i>
							<i class="hanle_count fa fa-minus-circle"></i>
						</div>
					</div>
					<div class="space-4"></div>
				-->
					<div class="clearfix form-actions">
						<div class="col-md-offset-3 col-md-9">
							<button class="btn btn-info" type="submit">
								<i class="ace-icon fa fa-check bigger-110"></i>
								保存
							</button>

							&nbsp; &nbsp; &nbsp;
							<button class="btn" type="reset" onclick="window.history.go(-1);">
								<i class="ace-icon fa fa-undo bigger-110"></i>
								返回
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div><!-- /.page-content -->
{/block}
