{extend name="admin@public/base" /}
{block name="main-content"}
	<div class="page-content">



		<div class="row maintop">
			<div class="col-xs-4 col-sm-2 margintop5">
				<a href="{:url('admin/School/recruit_major_add')}">
					<button class="btn btn-sm btn-danger">
						<i class="ace-icon fa fa-bolt bigger-110"></i>
						添加高职专业
					</button>
				</a>
			</div>
			<div class="col-xs-10 col-sm-5 margintop5">
				<form name="admin_list_sea" class="form-search" method="post" action="{:url('admin/School/recruit_major_list')}">
					<div class="input-group">
										<span class="input-group-addon">
											<i class="ace-icon fa fa-check"></i>
										</span>
						<input type="text" name="search_name" class="form-control" value="{$search_name}" placeholder="输入需查询的用户名" />
										<span class="input-group-btn">
											<button type="submit" class="btn btn-purple btn-sm">
												<span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
												搜索
											</button>
										</span>
					</div>
				</form>
			</div>
			<div class="col-xs-4 col-sm-5 margintop5">
				<div class="input-group-btn">
					<a href="{:url('admin/School/major_list')}">
						<button type="button" class="btn btn-sm  btn-purple">
							<span class="ace-icon fa fa-globe icon-on-right bigger-110"></span>
							显示全部
						</button>
					</a>
				</div>
			</div>
		</div>



		<div class="row">
			<div class="col-xs-12">
				<div>
					<form id="leftnav" name="leftnav" method="post" action="" >
						<input name="p" id="p" value="{:input('p',1)}" type="hidden" />
						<input type="hidden" name="checkk" id="checkk" value="1" /><!--用于判断操作类型-->
						<table class="table table-striped table-bordered table-hover" id="dynamic-table">
							<thead>
							<tr>
								<th>高职专业名称</th>
								<th>高职专业代码</th>
                                <!-- <th>招生计划</th> -->
								<th>技能成绩分数线</th>
								<th style="border-right:#CCC solid 1px;">操作</th>
							</tr>
							</thead>
							{foreach name="major_list" item="v"}
								<tr>
									<td height="28" >{$v.recruit_major_name}</td>
									<td>{$v.recruit_major_code}</td>
                                    <!-- <td>{$v.zs_number}</td> -->
									<td>{$v.min_score}</td>
									<td>
										<div class="hidden-sm hidden-xs action-buttons">
											<a class="green" href="{:url('admin/School/recruit_major_edit',array('recruit_major_id'=>$v['recruit_major_id']))}" title="修改">
												<i class="ace-icon fa fa-pencil bigger-130"></i>																</a>
												<a class="red confirm-rst-url-btn" data-info="你确定要删除吗？" href="{:url('admin/School/recruit_major_del',array('recruit_major_id'=>$v['recruit_major_id']))}" title="删除">
													<i class="ace-icon fa fa-trash-o bigger-130"></i>
												</a>
										</div>
									</td>
								</tr>
							{/foreach}
							<tr>
								<td height="50" colspan="5" align="center">{$page}</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
		</div>

	</div><!-- /.page-content -->
{/block}
