{extend name="admin@public/base" /}
{block name="main-content"}
	<div class="page-content">
		<!--主题-->
		<div class="page-header">
			<h1>
				您当前操作
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					基础理论科目编辑
				</small>
			</h1>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<form class="form-horizontal ajaxForm" name="major_list_add" method="post" action="{:url('admin/School/secondary_vocat_major_runedit')}">
					<input type="hidden" name='major_id' value="{$major.major_id}">
					{foreach name="major_score" key="k" item="v"}
					<div class="form-group major_score_group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 科目{$k+1}： </label>
						<div class="col-sm-10">
							<input type="text" name="score[]" value="{$v}" />
						</div>
					</div>
					{/foreach}
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"></label>
						<div class="col-sm-10">
							<i class="hanle_count fa fa-plus-circle"></i>
							<i class="hanle_count fa fa-minus-circle"></i>
						</div>
					</div>
					<div class="space-4"></div>
					<div class="clearfix form-actions">
						<div class="col-md-offset-3 col-md-9">
							<button class="btn btn-info" type="submit">
								<i class="ace-icon fa fa-check bigger-110"></i>
								保存
							</button>

							&nbsp; &nbsp; &nbsp;
							<button class="btn" type="reset" onclick="window.history.go(-1);">
								<i class="ace-icon fa fa-undo bigger-110"></i>
								返回
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div><!-- /.page-content -->
{/block}
