{foreach name="data" item="v"}
<tr>
    <td>{$v.ZexamineeNumber}</td>
    <td height="28" >{$v.member_list_nickname}</td>
    <td>{$v.member_list_username}</td>
    <td>{$v.school_name}</td>
    <td>{$v.major_name}</td>
    <td><input type="text" name="recruit_score" value="{$v.recruit_score}" class="recruit_score" data-id="{$v.member_list_id}" {if $v['recruit_score_status'] ==1}disabled{/if}></td>
   <td><span class="status_{$v.member_list_id}">{$v['status_desc']}</span></td>
</tr>
{/foreach}
<tr>
    <td colspan="20" align="center">{$page}</td>
</tr>
