{foreach name="member_list" item="v"}
	<tr>
		<td  height="28" >
			<label class="pos-rel">
				<input name="n_id[]" id="navid" class="ace" type="checkbox" value="{$v.member_list_id}">
				<span class="lbl"></span>
			</label>
		</td>
		<td>{$v.member_list_id}</td>

		<td><a class=""  href="{:url('admin/Member/member_edit',array('member_list_id'=>$v['member_list_id']))}" title="修改">{$v.member_list_nickname}</a></td>
		<td>{$v.ZexamineeNumber}</td>
		<td>{$v.member_list_username}</td>
		<td>{$v.school_name}</td>
		<td>{$v.major_name}</td>
		<td>{$v.recruit_major_name}</td>
		<!-- <td><input type="text" name="GexamineeNumber" value="{$v.GexamineeNumber}"  class="member_GexamineeNumber" data-id="{$v.member_list_id}" url="{:url('admin/Member/member_edit_GexamineeNumber',['member_list_id' => $v['member_list_id']])}"/></td> -->

		<td >
			{if condition='$v.user_status eq 1'}
				<a class="red active-btn" href="{:url('admin/Member/member_active')}" data-id="{$v.member_list_id}" title="已通过">
					<div id="jh{$v.member_list_id}">
						<button class="btn btn-minier btn-fb-blue">已审核</button>
					</div>

				</a>
				{else/}
				<a class="red active-btn" href="{:url('admin/Member/member_active')}" data-id="{$v.member_list_id}" title="未通过">
					<div id="jh{$v.member_list_id}">
						<button class="btn btn-minier btn-fb-orange">未审核</button>
					</div>

				</a>
			{/if}
		</td>
		<td>
			<div class="action-buttons">
				<a  href="{:url('admin/Member/member_edit',array('member_list_id'=>$v['member_list_id']))}" title="修改">
					<i class="ace-icon fa fa-edit bigger-130"></i>
				</a>
				<a class=" confirm-rst-url-btn" href="{:url('admin/Member/member_del',array('member_list_id'=>$v['member_list_id'],'p'=>input('p',1)))}" data-info="确定要删除吗？" title="删除">
					<i class="ace-icon fa fa-trash-o bigger-130"></i>
				</a>
			</div>

		</td>
	</tr>
{/foreach}
<tr><td colspan="20"><div class="fb-page">{$page}</div></td></tr>
