{extend name="admin@public/base" /}
{block name="main-content"}
	<div class="page-content">

		<div class="row">
			<div class="col-xs-12">
				<div>
						<table class="table table-striped table-bordered table-hover" id="dynamic-table">
							<thead>
							<tr>
								<th width="60px"></th>
								<th>对口高职专业</th>
								<th>中职专业</th>
                                <th>已审核人数</th>
                                <th>考场安排</th>
                                <th>日期安排</th>
                                <th>时间安排</th>
                                <th>操作</th>
							</tr>
							</thead>

							<tbody >
                                {foreach name='recruit_major_data' item='v'}
                                <tr>
                                    <td height="28" >
                                        <input type="hidden" name="recruit_major_id" value="{$v.recruit_major_id}">
                                    </td>
									<td>{$v.recruit_major_name}</td>
                                    <td>
                                        {foreach name="v['majors']" item='major'}
                                            {$major.major_name}
                                        {/foreach}
                                    </td>
                                    <td class="member_count" attr-value="{$v.member_count}">{$v.member_count}</td>
                                    <td>
                                        {foreach name="rooms" item='rv'}
                                        <label>
                                            <input type="checkbox" name="room_id" value="{$rv.room_id}" class="room_id" attr-value="{$rv.room_number}" {if in_array($rv['room_id'],$v['room_id'])}checked{/if}/>{$rv.room_name}({$rv.room_number}人)
                                        </label>
                                        {/foreach}
                                    </td>
                                    <td>
                                        <input type="text" class="layui-input date" id="date_{$v.recruit_major_id}" name="date" style="width:100px;" value="{php}echo date('Y-m-d'){/php}">
                                    </td>
                                    <td>
                                        <input type="text" class="layui-input starttime" id="starttime_{$v.recruit_major_id}" name="starttime" style="width:80px;margin-right:5px;" value="00:00">
                                        <input type="text" class="layui-input endtime" id="endtime_{$v.recruit_major_id}" name="starttime" style="width:80px;" value="00:00"></td>
                                    <td>
                            			<div class="hidden-sm hidden-xs action-buttons">
                            				<button class="btn btn-fb-blue fb-radio examination-submit" {if !$v['examination']} disabled{/if}>保存</button>
                                            <button class="btn btn-fb-blue fb-radio" {if !$v['examination']} disabled{/if} style="width:100px" onclick="window.location.href='{:url('admin/Examination/exportExamination',['recruit_major_id' => $v['recruit_major_id']])}'">导出准考证</button>
                            			</div>
                                    </td>
                                </tr>
                                {/foreach}
							</tbody>
						</table>
				</div>
			</div>
		</div>

	</div><!-- /.page-content -->
    <script>
        $(function(){
            {foreach name='recruit_major_data' item='v'}
            laydate.render({
              elem: '#date_{$v.recruit_major_id}'
            });
            laydate.render({
              elem: '#starttime_{$v.recruit_major_id}'
              ,type: 'time'
              ,format: 'HH:mm'
            });
            laydate.render({
              elem: '#endtime_{$v.recruit_major_id}'
              ,type: 'time'
              ,format: 'HH:mm'
            });
            {/foreach}
            $(".examination-submit").click(function(){
                load = layer.load(1);
                var pobject = $(this).parents("tr");
                var recruit_major_id = pobject.find("input[name='recruit_major_id']").val();
                var date = pobject.find(".date").val();
                var starttime = pobject.find(".starttime").val();
                var endtime = pobject.find(".endtime").val();
                var room_id = [];
                pobject.find("input[name='room_id']:checked").each(function(i){
                    room_id[i] =$(this).val();
                });
                $.ajax({
                    url: "/admin/examination/storeExamination",
                    type:'POST',
                    data:{'recruit_major_id':recruit_major_id,'date':date,'starttime':starttime,'endtime':endtime,'room_id':room_id},
                    success: function(data){
                        layer.close(load);
                        layer.msg(data.msg);
                        if (data.code == 1) {
                            window.location.href=data.url;
                        }else if(data.code == 0){

                        }
                    }
                });
            });
        });
    </script>
{/block}
