{extend name="admin@public/base" /}
{block name="main-content"}
<style>
.form-horizontal .form-group label {
    /* float: left;
    width: 100% !important; */
}
.form-horizontal .form-group input[type="text"] {
    width: 100%;
}
</style>
	<div class="page-content">
		<div class="row">
			<div class="col-xs-12">
                <form class="form-horizontal ajaxForm" name="major_list_add" method="post" action="{:url('admin/Examination/room_runedit')}">
                    {if $rooms}
                    {foreach $rooms as $key => $room}
                    <div class="form-group common_handle_group">
                        <input type="hidden" name="id[]" value="{$room.school_id}" />
                        <input type="hidden" name="is_used[]" value="{$room.is_used}" />
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 考场号和考试室： </label>
						<div class="col-sm-2">
							<input type="text" name="room_name[]" value="{$room.room_name}" />
						</div>
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 容纳数 </label>
						<div class="col-sm-2">
							<input type="text" name="room_number[]" value="{$room.room_number}" />
						</div>
					</div>
                    {/foreach}
                    {else}
					<div class="form-group common_handle_group">
                        <input type="hidden" name="id[]" value="" />
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 考场号和考试室： </label>
						<div class="col-sm-2">
							<input type="text" name="room_name[]" value="" />
						</div>
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 容纳数 </label>
						<div class="col-sm-2">
							<input type="text" name="room_number[]" value="" />
						</div>
					</div>
                    {/if}
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"></label>
						<div class="col-sm-10">
							<i class="room_count fa fa-plus-circle"></i>
							<i class="room_count fa fa-minus-circle"></i>
						</div>
					</div>
					<div class="space-4"></div>
					<div class="clearfix form-actions">
						<div class="col-md-offset-3 col-md-9">
							<button class="btn btn-fb-blue fb-radio" type="submit">
								保存
							</button>
							<button class="btn fb-radio btn-fb-orange" type="reset" onclick="window.history.go(-1);">
                                返回
                            </button>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div><!-- /.page-content -->
{/block}
