{extend name="admin@public/base" /}
{block name="main-content"}
	<div class="page-content">
		<div class="row maintop">
			<div class="col-xs-12 col-sm-2">
				<div class="fb-export">
					<a href="javascript:;" id="invoice_list_export"  title="按中职专业导出成绩">导出Excel</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div>

						<table class="table table-striped table-bordered table-hover" id="dynamic-table">
							<thead>
							<tr>
								<th width="60px"></th>
								<th>ID</th>
								<th>{$Think.lang.invoice['high_school']['name']}</th>
								<th>{$Think.lang.invoice['high_school']['duty_paragraph']}</th>
								<th>{$Think.lang.invoice['high_school']['address']}</th>
								<th>{$Think.lang.invoice['high_school']['tel']}</th>
								<th>{$Think.lang.invoice['high_school']['bank']}</th>
								<th>{$Think.lang.invoice['high_school']['blank_count']}</th>
								<th>{$Think.lang.invoice['high_school']['other']}</th>
							</tr>
							</thead>

							<tbody>
							{foreach name="invoice_list" item="v"}
								<tr>
									<td height="28"></td>
									<td>{$v.invoice_id}</td>
									<td>{$v.name}</td>
									<td>{$v.duty_paragraph}</td>
									<td>{$v.address}</td>
									<td>{$v.tel}</td>
									<td>{$v.bank}</td>
									<td>{$v.blank_count}</td>
									<td>{$v.other}</td>
								</tr>
							{/foreach}
							<!-- <tr>
								<td height="50" colspan="6" align="left">&nbsp;</td>
							</tr> -->
							</tbody>
						</table>
				</div>
			</div>
		</div>
	</div><!-- /.page-content -->
	<script>
		$("#invoice_list_export").click(function(){
			load = layer.load(1);
			$.ajax({
				url:"{:url('admin/Invoice/check_invoice_list_export')}",
				type:"POST",
				data:{},
				success: function(data){
					if(typeof load!="undefined"){layer.close(load);}
					if (data.code == 1) {
						window.location.href="{:url('admin/Invoice/invoice_list_export')}";
					} else {
						layer.alert(data.msg, {icon: 5});
						return false;
					}
				}
			});

		});
	</script>
{/block}
