<style>
.personal_table{background: #fff;margin: auto 10%;width: 656px;}

.personal_table table input{width: 100%;height: 100%;border:none;outline:none;text-align: center;color: #666;font-weight: bolder;}
.line-table-height{
    height:30px;
}
.line-table-height2{
    height: 90px;
}
 .low_width_1{
    width:85px;
}
.low_width_2{
    width:85px;
}
.low_width_3{
    width:95px;
}
.low_width_4{
    width:95px;
}
.low_width_5{
    width:95px;
}
.low_width_6{
    width:105px;
}
.low_width_7{
    width:130px;
}
.title{
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    height:30px;
    line-height: 30px;
}
.content{
    text-align: center;
    font-family: 仿宋;
    font-size: 12px;
    height:30px;
    line-height: 30px;
}
.content_area{
    text-align: left;
    font-family: 仿宋;
    font-size: 14px;
}

.k-s-content{
    border:1px solid #999;
    text-align: center;
}
.k-w-table {
    border-style:solid;
    border-color:rgb(148, 192, 210);
/*  border-color:#ccc; */
    border-width:1px;
    border-collapse:collapse;
}


</style>
<table width="700px" class="k-w-table line_table member_table">
    <tbody><tr class="line-table-height">
        <td class="k-s-content low_width_1 title">姓  名</td>
        <td class="k-s-content low_width_2 content" style="font-weight: bold;
    font-size: 12px;">{$info.member_list_nickname}</td>
        <td class="k-s-content low_width_3 title">性  别</td>
        <td class="k-s-content low_width_4 content">{$info.sex}</td>
        <td class="k-s-content low_width_5 title">高考考生号</td>
        <td class="k-s-content low_width_6 content">{$info.GexamineeNumber}</td>
        <td class="k-s-content low_width_7" rowspan="5" height='175px' width="120px"><img src="{$info.member_list_headpic|get_imgurl2=1}"  style="height:175px;width:120px;"></td>
    </tr>
    <tr class="line-table-height">
        <td class="k-s-content title">出生年月</td>
        <td class="k-s-content content">{$info.date}</td>
        <td class="k-s-content title">民  族</td>
        <td class="k-s-content content">{$info.nation}</td>
        <td class="k-s-content title">政治面貌</td>
        <td class="k-s-content content">{$info.politicalOutlook}</td>
    </tr>
    <tr class="line-table-height">
        <td class="k-s-content title">所在学校</td>
        <td class="k-s-content content"  colspan="2">
            {$info.school_name}
        </td>
        <td class="k-s-content title">身份证号</td>
        <td class="k-s-content content" colspan="2">{$info.member_list_username}</td>

    </tr>
    <tr class="line-table-height">
        <td class="k-s-content title">生源地</td>
       <td class="k-s-content content">{$info.documentType}</td>
        <td class="k-s-content content title">户籍地</td>
        <td class="k-s-content content">{$info.domicile}</td>
        <td class="k-s-content title">所在专业</td>
        <td class="k-s-content content">{$info.major_name}</td>

    </tr>
    <tr class="line-table-height">
        <td class="k-s-content title">报考专业</td>
        <td class="k-s-content content" colspan="1">{$info.recruit_major_name}</td>
        <td class="k-s-content title" colspan="1">中职考生号</td>
        <td class="k-s-content content">{$info.ZexamineeNumber}</td>
         <td class="k-s-content title" colspan="1">考生类别</td>
        <td class="k-s-content content">{$info.candidateCategory}</td>
    </tr>
    <!-- 第6行 -->
    <tr class="line-table-height">
        <td class="k-s-content title" colspan="2">接收邮寄通知书地址</td>
        <td class="k-s-content content" colspan="3">{$info.address}</td>
        <td class="k-s-content title">邮编</td>
        <td class="k-s-content content" colspan="1">{$info.zipCode}</td>
    </tr>
    <tr class="line-table-height">
        <td class="k-s-content title"  colspan="2">收件人</td>
        <td class="k-s-content content" colspan="2">{$info.addressee}</td>
        <td class="k-s-content title" colspan="1">联系电话</td>
        <td class="k-s-content content" colspan="2">{$info.tell}</td>
    </tr>
    <tr class="line-table-height">
        <td class="k-s-content title" colspan="3">技能证书名称</td>
        <td class="k-s-content title" colspan="1">级别</td>
        <td class="k-s-content title" colspan="2">颁发单位</td>
        <td class="k-s-content title" colspan="1">获得时间</td>

    </tr>
    <tr class="line-table-height">
        <td class="k-s-content content" colspan="3">{$info.certificate.0.certificateName}</td>
        <td class="k-s-content content" colspan="1">{$info.certificate.0.certificateLevel}</td>
        <td class="k-s-content content" colspan="2">{$info.certificate.0.certificateCompany}</td>
        <td class="k-s-content content" colspan="1">{$info.certificate.0.certificateDate}</td>

    </tr>
    <tr class="line-table-height">
        <td class="k-s-content content" colspan="3">{$info.certificate.1.certificateName}</td>
        <td class="k-s-content content" colspan="1">{$info.certificate.1.certificateLevel}</td>
        <td class="k-s-content content" colspan="2">{$info.certificate.1.certificateCompany}</td>
        <td class="k-s-content content" colspan="1">{$info.certificate.1.certificateDate}</td>

    </tr>
    <tr class="line-table-height">
        <td class="k-s-content content" colspan="3">{$info.certificate.2.certificateName}</td>
        <td class="k-s-content content" colspan="1">{$info.certificate.2.certificateLevel}</td>
        <td class="k-s-content content" colspan="2">{$info.certificate.2.certificateCompany}</td>
        <td class="k-s-content content" colspan="1">{$info.certificate.2.certificateDate}</td>
    </tr>

    <tr class="line-table-height">
        <td class="k-s-content title" colspan="7" style="text-align:left;text-indent:1em">简历（从初中开始学起）</td>
    </tr>
    <tr class="line-table-height">
        <td class="k-s-content title" colspan="1">自何年何月</td>
        <td class="k-s-content title" colspan="1">至何年何月</td>
        <td class="k-s-content title" colspan="3">在何地、何单位学习或工作</td>
        <td class="k-s-content title" colspan="2">任何职务</td>

    </tr>
    <tr class="line-table-height">
        <td class="k-s-content content" colspan="1">{$info.resume.0.resumeBeforeDate}</td>
        <td class="k-s-content content" colspan="1">{$info.resume.0.resumeAfterDate}</td>
        <td class="k-s-content content" colspan="3">{$info.resume.0.resumeWork}</td>
        <td class="k-s-content content" colspan="2">{$info.resume.0.resumePost}</td>

    </tr>
    <tr class="line-table-height">
         <td class="k-s-content content" colspan="1">{$info.resume.1.resumeBeforeDate}</td>
        <td class="k-s-content content" colspan="1">{$info.resume.1.resumeAfterDate}</td>
        <td class="k-s-content content" colspan="3">{$info.resume.1.resumeWork}</td>
        <td class="k-s-content content" colspan="2">{$info.resume.1.resumePost}</td>

    </tr>
    <tr class="line-table-height">
          <td class="k-s-content content" colspan="1">{$info.resume.2.resumeBeforeDate}</td>
        <td class="k-s-content content" colspan="1">{$info.resume.2.resumeAfterDate}</td>
        <td class="k-s-content content" colspan="3">{$info.resume.2.resumeWork}</td>
        <td class="k-s-content content" colspan="2">{$info.resume.2.resumePost}</td>

    </tr>
    <tr class="line-table-height">
        <td class="k-s-content title" colspan="7" style="text-align:left;text-indent:1em">获奖情况：</td>
    </tr>
    <tr class="line-table-height">
        <td class="k-s-content title" colspan="2">时间</td>
        <td class="k-s-content title" colspan="3">奖项</td>
        <td class="k-s-content title" colspan="2">发证单位</td>

    </tr>
     <tr class="line-table-height">
        <td class="k-s-content content" colspan="2">{$info.prize.0.prizeDate}</td>
        <td class="k-s-content content" colspan="3">{$info.prize.0.prizeName}</td>
        <td class="k-s-content content" colspan="2">{$info.prize.0.prizeCompany}</td>

    </tr>
     <tr class="line-table-height">
        <td class="k-s-content content" colspan="2">{$info.prize.1.prizeDate}</td>
        <td class="k-s-content content" colspan="3">{$info.prize.1.prizeName}</td>
        <td class="k-s-content content" colspan="2">{$info.prize.1.prizeCompany}"</td>
    </tr>
     <tr class="line-table-height">
        <td class="k-s-content title" colspan="1">处分情况</td>
        <td class="k-s-content content" colspan="6">

        </td>
    </tr>
    <tr class="line-table-height">
        <td class="k-s-content title" style="text-align:left;text-indent:1em" colspan="7">家庭主要社会关系</td>
    </tr>
    <tr class="line-table-height">
        <td class="k-s-content title" colspan="1">关系</td>
        <td class="k-s-content title" colspan="1">姓名</td>
        <td class="k-s-content title" colspan="3">工作单位</td>
        <td class="k-s-content title" colspan="2">电话</td>
    </tr>
     <tr class="line-table-height">
       <td class="k-s-content title" colspan="1">{$info.family.0.familyPunishment}</td>
        <td class="k-s-content title" colspan="1">{$info.family.0.familyName}</td>
        <td class="k-s-content title" colspan="3">{$info.family.0.familyWork}</td>
        <td class="k-s-content title" colspan="2">{$info.family.0.familyTell}</td>
    </tr>
    <tr class="line-table-height">
        <td class="k-s-content title" colspan="1">{$info.family.1.familyPunishment}</td>
        <td class="k-s-content title" colspan="1">{$info.family.1.familyName}</td>
        <td class="k-s-content title" colspan="3">{$info.family.1.familyWork}</td>
        <td class="k-s-content title" colspan="2">{$info.family.1.familyTell}</td>
    </tr>
    <tr class="line-table-height">
        <td class="k-s-content title" colspan="1">{$info.family.2.familyPunishment}</td>
        <td class="k-s-content title" colspan="1">{$info.family.2.familyName}</td>
        <td class="k-s-content title" colspan="3">{$info.family.2.familyWork}</td>
        <td class="k-s-content title" colspan="2">{$info.family.2.familyTell}</td>
    </tr>
    <tr class="line-table-height2">
        <td class="k-s-content title" colspan="2" style="height: 90px;line-height: 40px;">中职学校报考审核 意见</td>
        <td class="k-s-content content_area" colspan="2" style="height: 90px;line-height: 40px;">（盖公章）</td>
        <td class="k-s-content title" style="height: 90px;line-height: 40px;">高职学校审核意见</td>
        <td class="k-s-content content_area" colspan="2">

        </td>
    </tr>
    </tbody>
</table>
