{foreach name="member_list" item="v"}
	<tr>
		<td class="hidden-xs" height="28" >
			<label class="pos-rel">
				<input name="n_id[]" id="navid" class="ace" type="checkbox" value="{$v.member_list_id}">
				<span class="lbl"></span>
			</label>{$v.member_list_id}
		</td>
		<td><a class=""  href="{:url('admin/Member/member_edit',array('member_list_id'=>$v['member_list_id']))}" title="修改">{$v.member_list_nickname}</a></td>
		<td>{$v.ZexamineeNumber}</td>
		<td>{$v.member_list_username}</td>
		<td>{$v.major_name}</td>
		<td>{$v.major_code}</td>
		<td><input type="text" name="GexamineeNumber" value="{$v.GexamineeNumber}"  class="member_GexamineeNumber" data-id="{$v.member_list_id}" url="{:url('admin/Member/member_edit_GexamineeNumber',['member_list_id' => $v['member_list_id']])}"/></td>
		<td class="hidden-xs">
			{if condition='$v.user_status eq 1'}
					已通过
			{else/}
					未通过
			{/if}
		</td>
		<td>
			<div class="hidden-sm hidden-xs action-buttons">
				<a class="green"  href="{:url('admin/Member/member_edit',array('member_list_id'=>$v['member_list_id']))}" title="修改">
					<i class="ace-icon fa fa-pencil bigger-130"></i>
				</a>
				<a class="red confirm-rst-url-btn" href="{:url('admin/Member/member_del',array('member_list_id'=>$v['member_list_id'],'p'=>input('p',1)))}" data-info="你确定要删除吗？" title="删除">
					<i class="ace-icon fa fa-trash-o bigger-130"></i>
				</a>
			</div>
			<div class="hidden-md hidden-lg">
				<div class="inline position-relative">
					<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
						<i class="ace-icon fa fa-cog icon-only bigger-110"></i>
					</button>
					<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
						<li>
							<a href="{:url('admin/Member/member_edit',array('member_list_id'=>$v['member_list_id']))}" class="tooltip-success" data-rel="tooltip" title="" data-original-title="修改">
								<span class="green">
									<i class="ace-icon fa fa-pencil bigger-120"></i>
								</span>
							</a>
						</li>

						<li>
							<a href="{:url('admin/Member/member_del',array('member_list_id'=>$v['member_list_id'],'p'=>input('p',1)))}"  class="tooltip-error confirm-rst-url-btn" data-info="你确定要删除吗？" data-rel="tooltip" title="" data-original-title="删除">
								<span class="red">
									<i class="ace-icon fa fa-trash-o bigger-120"></i>
								</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</td>
	</tr>
{/foreach}
<tr>
	<td align="left" class="hidden-xs center">
		<button id="btnsubmit" class="btn btn-danger  btn-sm hidden-xs">删除</button>&nbsp;
		<button id="member_active_submit" class="btn btn-purple btn-sm hidden-xs">审核</button>
	</td>
	<td colspan="12" align="center" class="hidden-xs">{$page}</td>
</tr>
