{extend name="admin@public/base" /}
{block name="main-content"}
<style>
.personal_table{background: #fff;margin: 0 auto;width: 656px;}

.personal_table table input{width: 100%;height: 100%;border:none;outline:none;text-align: center;color: #666;}
.line-table-height{
    height:30px;
}
.line-table-height2{
    height: 90px;
}
.low_width_1{
    width:100px;
}
.low_width_2{
    width:110px;
}
.low_width_3{
    width:100px;
}
.low_width_4{
    width:110px;
}
.low_width_5{
    width:100px;
}
.low_width_6{
    width:100px;
}
.low_width_7{
    width:120px;
}
.title{
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}
.content{
    text-align: center;
    font-family: 仿宋;
    font-size: 14px;
}
.content_area{
    text-align: left;
    font-family: 仿宋;
    font-size: 14px;
}

.k-s-content{
    border:1px solid #999;
    text-align: center;
}
.k-w-table {
    border-style:solid;
    border-color:rgb(148, 192, 210);
/*  border-color:#ccc; */
    border-width:1px;
    border-collapse:collapse;
}
</style>
	<div class="page-content">
		<!--主题-->
		<div class="page-header">
			<h1>
				您当前操作
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					修改中职学生信息
				</small>
			</h1>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<form class="form-horizontal memberform" name="member_list_edit" method="post" action="{:url('admin/Member/member_runedit')}">
					<input type="hidden" name="member_list_id" id="member_list_id" value="{$member_list_edit.member_list_id}" />
					<!-- <div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 所属用户组： </label>
						<div class="col-sm-10">
							<select name="member_list_groupid"  class="col-sm-4 selector" required>
								<option value="">请选择所属用户组</option>
								{foreach name="member_group" item="v"}
									<option  value="{$v.member_group_id}" {if condition="$member_list_edit['member_list_groupid'] eq $v['member_group_id']"}selected{/if}>{$v.member_group_name}</option>
								{/foreach}
							</select>
						</div>
					</div>
					<div class="space-4"></div> -->

					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 身份证号码：  </label>
						<div class="col-sm-10">
							<input type="text" name="member_list_username" id="member_list_username" value="{$member_list_edit.member_list_username}" placeholder="输入登录用户名" class="col-xs-10 col-sm-4" required/>
							<span class="lbl">&nbsp;&nbsp;<span class="red">*</span>必填</span>
						</div>
					</div>
					<div class="space-4"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 登入密码：  </label>
						<div class="col-sm-10">
							<input type="text" name="member_list_pwd" id="member_list_pwd" placeholder="输入登录密码" class="col-xs-10 col-sm-4" maxlength="15" minlength="5"/>
							<span class="lbl">&nbsp;&nbsp;<span class="red">*</span>必填，密码必须6位-8位</span>
						</div>
					</div>
					<div class="space-4"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 姓名：  </label>
						<div class="col-sm-10">
							<input type="text" name="member_list_nickname" id="member_list_nickname" value="{$member_list_edit.member_list_nickname}"  placeholder="输入昵称" class="col-xs-10 col-sm-4" />
						</div>
					</div>
					<div class="space-4"></div>
                    {if $admin['major_id']}
                    <div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 所属中职专业: </label>
						<div class="col-sm-10">
							<select name="major_id"  class="col-sm-5" id="major" required>
								{foreach name="major_list" item="v"}
									<option value="{$v.major_id}" {if condition="$v['major_id'] eq $member_list_edit.major_id"}selected{/if} >{$v.major_name}</option>
								{/foreach}
							</select>
						</div>
					</div>
					<div class="space-4"></div>
                    {else}
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 所属中职: </label>
						<div class="col-sm-10">
							<select name="school_id"  class="col-sm-5" id="school" required>
								<option value="">请选择所属中职</option>
								{foreach name="school_list" item="v"}
									<option value="{$v.school_id}" {if condition="$v['school_id'] eq $member_list_edit.school_id"}selected{/if} >{$v.school_name}</option>
								{/foreach}
							</select>
						</div>
					</div>
					<div class="space-4"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 所属中职专业: </label>
						<div class="col-sm-10">
							<select name="major_id"  class="col-sm-5" id="major" required>
								{foreach name="major_list" item="v"}
									<option value="{$v.major_id}" {if condition="$v['major_id'] eq $member_list_edit.major_id"}selected{/if} >{$v.major_name}</option>
								{/foreach}
							</select>
						</div>
					</div>
					<div class="space-4"></div>
                    {/if}
					<!-- <div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 是否开启（禁止后用户将不能登录）： </label>
						<div class="col-sm-10" style="padding-top:5px;">
							<input name="member_list_open" {if condition='$member_list_edit.member_list_open eq 1'}checked{/if} id="member_list_open" value="1" class="ace ace-switch ace-switch-4 btn-flat" type="checkbox" />
							<span class="lbl">&nbsp;&nbsp;默认关闭</span>
						</div>
					</div>
					<div class="space-4"></div> -->

					<!-- <div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 审核： </label>
						<div class="col-sm-10" style="padding-top:5px;">
							<input name="user_status" {if condition='$member_list_edit.user_status eq 1'}checked{/if} id="user_status" value="1" class="ace ace-switch ace-switch-4 btn-flat" type="checkbox" />
							<span class="lbl">&nbsp;&nbsp;默认未通过</span>
						</div>
					</div>
					<div class="space-4"></div>-->

					<div class="clearfix form-actions">
						<div class="col-md-offset-3 col-md-9">
							<button class="btn btn-info" type="submit">
								<i class="ace-icon fa fa-check bigger-110"></i>
								保存
							</button>

							&nbsp; &nbsp; &nbsp;
							<button class="btn" type="reset" onclick="window.history.go(-1);" onclick="window.history.go(-1);">
								<i class="ace-icon fa fa-undo bigger-110"></i>
								返回
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		{if condition="$member_list_edit['user_status']"}
		<?php
		$auth=new app\admin\model\AuthRule;
		$id_curr=$auth->get_url_id();
        if($auth->check_auth($id_curr))
		{
		?>
		<!-- <div class="row">
			<div class="col-xs-12">
				<form class="form-horizontal" name="score_edit" method="post" action="{:url('admin/Score/score_runedit')}">
					{foreach name="major_score" item="v"}
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> {$v}: </label>
						<div class="col-sm-10">
							<input type="text" name="score[]" value="" class="col-xs-10 col-sm-4" required/>
						</div>
					</div>
					<div class="space-4"></div>
					{/foreach}
					<div class="clearfix form-actions">
						<div class="col-md-offset-3 col-md-9">
							<button class="btn btn-info" type="submit">
								<i class="ace-icon fa fa-check bigger-110"></i>
								保存
							</button>

							&nbsp; &nbsp; &nbsp;
							<button class="btn" type="reset" onclick="window.history.go(-1);">
								<i class="ace-icon fa fa-undo bigger-110"></i>
								返回
							</button>
						</div>
					</div>
				</form>
			</div>
		</div> -->
		<?php
		}
		?>
		{/if}
		<div class="row">
			<div class="col-xs-12">
			<div class="personal_table">
            <input type="hidden" name="member_list_id" value="{$member_list_edit.member_list_id}" />
			<table width="656px" class="k-w-table line_table">
				<tbody><tr class="line-table-height">
					<td class="k-s-content low_width_1 title" style="text-align: center;">姓&nbsp;&nbsp;名</td>
					<td class="k-s-content low_width_2 content"><input type="text" name="name" value="{$info.member_list_nickname}" disabled/></td>
					<td class="k-s-content low_width_3 title">性&nbsp;&nbsp;别</td>
					<td class="k-s-content low_width_4 content"><input type="text" name="sex" value="{$info.sex}" /></td>
					<td class="k-s-content low_width_5 title">高考考生号</td>
					<td class="k-s-content low_width_6 content"><input type="text" name="GexamineeNumber" value="{$info.GexamineeNumber}" /></td>
					<td class="k-s-content low_width_7" rowspan="5" style="text-align: center;position:relative">
						<img id="studentPicture_herf_show" style="width: 125px; height: 175px; display: inline;" src="{if $member_list_edit.member_list_headpic}{$member_list_edit.member_list_headpic}{else}/public/img/defaultGraph.jpg{/if} " height="175px" width="125px">
						<input type="file" class="upload" value="" style="width:100%;height:100%;position:absolute;top:0;left:0;opacity:0;cursor:pointer;">
					</td>
				</tr>
				<tr class="line-table-height">
					<td class="k-s-content low_width_1 title">出生年月</td>
					<td class="k-s-content content"><input type="text" name="date" value="{$info.date}" /></td>
					<td class="k-s-content low_width_3 title">民&nbsp;&nbsp;族</td>
					<td class="k-s-content content"><input type="text" name="nation" value="{$info.nation}" /></td>
					<td class="k-s-content title">政治面貌</td>
					<td class="k-s-content content"><input type="text" name="politicalOutlook" value="{$info.politicalOutlook}" /></td>
				</tr>
				<tr class="line-table-height">
					 <td class="k-s-content title">证件类型</td>
					<td class="k-s-content content">
						<input type="text" name="documentType" value="{$info.documentType}" />
					</td>
					<td class="k-s-content low_width_1 title">身份证号</td>
					<td class="k-s-content content" colspan="3"><input type="text" name="cardId" value="{$info.member_list_username}" disabled/></td>

				</tr>
				<tr class="line-table-height">
					<td class="k-s-content content title">户籍地</td>
					<td class="k-s-content content"><input type="text" name="domicile" value="{$info.domicile}" /></td>
					<td class="k-s-content low_width_1 title">所在专业</td>
					<td class="k-s-content content">
						<input type="text" name="nowProfessional" value="{$info.nowProfessional}" disabled/>
					</td>
					<td class="k-s-content low_width_3 title">所在学校</td>
					<td class="k-s-content content">
						<input type="text" name="school" value="{$info.school}"  disabled/>
					</td>

				</tr>
				<tr class="line-table-height">
					<td class="k-s-content low_width_1 title">报考专业</td>
					<td class="k-s-content content" colspan="1">
						<input type="text" name="applyProfessional"  disabled/>
					</td>
					<td class="k-s-content title" colspan="1">中职考生号</td>
					<td class="k-s-content content">
					<input type="text" name="ZexamineeNumber" value="{$info.ZexamineeNumber}" />
					</td>
					 <td class="k-s-content title" colspan="1">考生类别</td>
					<td class="k-s-content content">
						<input type="text" name="candidateCategory" value="{$info.candidateCategory}" />
					</td>
				</tr>
				<!-- 第6行 -->
				<tr class="line-table-height">
					<td class="k-s-content low_width_1 title " colspan="2">接收邮寄通知书地址</td>
					<td class="k-s-content content" colspan="3">
						<input type="text" name="address" value="{$info.address}" />
					</td>
					<td class="k-s-content title">邮编</td>
					<td class="k-s-content content" colspan="1">
						<input type="text" name="zipCode" value="{$info.zipCode}" />
					</td>
				</tr>
				<tr class="line-table-height">
					<td class="k-s-content low_width_1 title"  colspan="2">收件人</td>
					<td class="k-s-content content" colspan="2">
						<input type="text" name="addressee" value="{$info.addressee}" />
					</td>
					<td class="k-s-content title" colspan="1">联系电话</td>
					<td class="k-s-content content" colspan="2">
						<input type="text" name="tell" value="{$info.tell}" />
					</td>
				</tr>
				<tr class="line-table-height">
					<td class="k-s-content title" colspan="2">技能证书名称</td>
					<td class="k-s-content title" colspan="1">级别</td>
					<td class="k-s-content title" colspan="2">颁发单位</td>
					<td class="k-s-content title" colspan="2">获得时间</td>

				</tr>
				<tr class="line-table-height">
					<td class="k-s-content title" colspan="2"><input type="text" name="certificateName_0" value="{$info.certificate.0.certificateName}" /></td>
					<td class="k-s-content title" colspan="1"><input type="text" name="certificateLevel_0" value="{$info.certificate.0.certificateLevel}" /></td>
					<td class="k-s-content title" colspan="2"><input type="text" name="certificateCompany_0" value="{$info.certificate.0.certificateCompany}" /></td>
					<td class="k-s-content title" colspan="2"><input type="text" name="certificateDate_0" value="{$info.certificate.0.certificateDate}" /></td>

				</tr>
				<tr class="line-table-height">
					<td class="k-s-content title" colspan="2"><input type="text" name="certificateName_1" value="{$info.certificate.1.certificateName}" /></td>
					<td class="k-s-content title" colspan="1"><input type="text" name="certificateLevel_1" value="{$info.certificate.1.certificateLevel}"value="{$info.certificate.0.certificateName}" /></td>
					<td class="k-s-content title" colspan="2"><input type="text" name="certificateCompany_1" value="{$info.certificate.1.certificateCompany}" /></td>
					<td class="k-s-content title" colspan="2"><input type="text" name="certificateDate_1" value="{$info.certificate.1.certificateDate}" /></td>

				</tr>
				<tr class="line-table-height">
					<td class="k-s-content title" colspan="2"><input type="text" name="certificateName_2" value="{$info.certificate.2.certificateName}" /></td>
					<td class="k-s-content title" colspan="1"><input type="text" name="certificateLevel_2" value="{$info.certificate.2.certificateLevel}" /></td>
					<td class="k-s-content title" colspan="2"><input type="text" name="certificateCompany_2" value="{$info.certificate.2.certificateCompany}" /></td>
					<td class="k-s-content title" colspan="2"><input type="text" name="certificateDate_2" value="{$info.certificate.2.certificateDate}" /></td>
				</tr>

				<tr class="line-table-height">
					<td class="k-s-content title" colspan="7" style="text-align:left;text-indent:1em">简历（从初中开始学起）</td>
				</tr>
				<tr class="line-table-height">
					<td class="k-s-content title" colspan="2">自何年何月</td>
					<td class="k-s-content title" colspan="2">至何年何月</td>
					<td class="k-s-content title" colspan="2">在何地、何单位学习或工作</td>
					<td class="k-s-content title" colspan="1">任何职务</td>

				</tr>
				<tr class="line-table-height">
					<td class="k-s-content title" colspan="2"><input type="text" name="resumeBeforeDate_0" value="{$info.resume.0.resumeBeforeDate}" /></td>
					<td class="k-s-content title" colspan="2"><input type="text" name="resumeAfterDate_0" value="{$info.resume.0.resumeAfterDate}" /></td>
					<td class="k-s-content title" colspan="2"><input type="text" name="resumeWork_0" value="{$info.resume.0.resumeWork}" /></td>
					<td class="k-s-content title" colspan="1"><input type="text" name="resumePost_0" value="{$info.resume.0.resumePost}" /></td>

				</tr>
				<tr class="line-table-height">
					 <td class="k-s-content title" colspan="2"><input type="text" name="resumeBeforeDate_1" value="{$info.resume.1.resumeBeforeDate}" /></td>
					<td class="k-s-content title" colspan="2"><input type="text" name="resumeAfterDate_1" value="{$info.resume.1.resumeAfterDate}" /></td>
					<td class="k-s-content title" colspan="2"><input type="text" name="resumeWork_1" value="{$info.resume.1.resumeWork}" /></td>
					<td class="k-s-content title" colspan="1"><input type="text" name="resumePost_1" value="{$info.resume.1.resumePost}" /></td>

				</tr>
				<tr class="line-table-height">
					  <td class="k-s-content title" colspan="2"><input type="text" name="resumeBeforeDate_2" value="{$info.resume.2.resumeBeforeDate}" /></td>
					<td class="k-s-content title" colspan="2"><input type="text" name="resumeAfterDate_2" value="{$info.resume.2.resumeAfterDate}" /></td>
					<td class="k-s-content title" colspan="2"><input type="text" name="resumeWork_2" value="{$info.resume.2.resumeWork}" /></td>
					<td class="k-s-content title" colspan="1"><input type="text" name="resumePost_2" value="{$info.resume.2.resumePost}" /></td>

				</tr>
				<tr class="line-table-height">
					<td class="k-s-content title" colspan="7" style="text-align:left;text-indent:1em">获奖情况：</td>
				</tr>
				<tr class="line-table-height">
					<td class="k-s-content title" colspan="2">时间</td>
					<td class="k-s-content title" colspan="2">奖项</td>
					<td class="k-s-content title" colspan="3">发证单位</td>

				</tr>
				 <tr class="line-table-height">
					<td class="k-s-content title" colspan="2"><input type="text" name="prizeDate_0"  value="{$info.prize.0.prizeDate}" /></td>
					<td class="k-s-content title" colspan="2"><input type="text" name="prizeName_0"  value="{$info.prize.0.prizeName}" /></td>
					<td class="k-s-content title" colspan="3"><input type="text" name="prizeCompany_0"  value="{$info.prize.0.prizeCompany}" /></td>

				</tr>
				 <tr class="line-table-height">
					<td class="k-s-content title" colspan="2"><input type="text" name="prizeDate_1"  value="{$info.prize.1.prizeDate}" /></td>
					<td class="k-s-content title" colspan="2"><input type="text" name="prizeName_1"  value="{$info.prize.1.prizeName}" /></td>
					<td class="k-s-content title" colspan="3"><input type="text" name="prizeCompany_1"  value="{$info.prize.1.prizeCompany}" /></td>
				</tr>
				 <tr class="line-table-height">
					<td class="k-s-content title" colspan="1">处分情况</td>
					<td class="k-s-content title" colspan="6">
						<input type="text" name="punishment"  />
					</td>
				</tr>
				<tr class="line-table-height">
					<td class="k-s-content title" style="text-align:left;text-indent:1em" colspan="7">家庭主要社会关系</td>
				</tr>
				<tr class="line-table-height">
					<td class="k-s-content title" colspan="1">关系</td>
					<td class="k-s-content title" colspan="1">姓名</td>
					<td class="k-s-content title" colspan="3">工作单位</td>
					<td class="k-s-content title" colspan="2">电话</td>
				</tr>
				 <tr class="line-table-height">
				   <td class="k-s-content title" colspan="1">
						<input type="text" name="familyPunishment_0" value="{$info.family.0.familyPunishment}" />
					</td>
					<td class="k-s-content title" colspan="1">
						<input type="text" name="familyName_0" value="{$info.family.0.familyName}" />
					</td>
					<td class="k-s-content title" colspan="3">
						<input type="text" name="familyWork_0" value="{$info.family.0.familyWork}" />
					</td>
					<td class="k-s-content title" colspan="2">
						<input type="text" name="familyTell_0" value="{$info.family.0.familyTell}" />
					</td>
				</tr>
				<tr class="line-table-height">
					<td class="k-s-content title" colspan="1">
						<input type="text" name="familyPunishment_1" value="{$info.family.1.familyPunishment}"  />
					</td>
					<td class="k-s-content title" colspan="1">
						<input type="text" name="familyName_1" value="{$info.family.1.familyName}" />
					</td>
					<td class="k-s-content title" colspan="3">
						<input type="text" name="familyWork_1" value="{$info.family.1.familyWork}" />
					</td>
					<td class="k-s-content title" colspan="2">
						<input type="text" name="familyTell_1" value="{$info.family.1.familyTell}" />
					</td>
				</tr>
				<tr class="line-table-height">
					<td class="k-s-content title" colspan="1">
						<input type="text" name="familyPunishment_2" value="{$info.family.2.familyPunishment}" />
					</td>
					<td class="k-s-content title" colspan="1">
						<input type="text" name="familyName_2" value="{$info.family.2.familyName}" />
					</td>
					<td class="k-s-content title" colspan="3">
						<input type="text" name="familyWork_2" value="{$info.family.2.familyWork}" />
					</td>
					<td class="k-s-content title" colspan="2">
						<input type="text" name="familyTell_2" value="{$info.family.2.familyTell}" />
					</td>
				</tr>


				<tr class="line-table-height2">
					<td class="k-s-content title">中职学校报考审核 意见</td>
					<td class="k-s-content content_area" colspan="3">
					   （盖公章）
					</td>
					<td class="k-s-content title">高职学校审核意见</td>
					<td class="k-s-content content_area" colspan="2">

					</td>
				</tr>
				</tbody>
			</table>
			</div>
			</div>

		</div>
        <div class="clearfix form-actions">
            <div class="col-md-offset-5 col-md-9"  href="{:url('admin/Member/member_active')}" data-id="{$member_list_edit.member_list_id}">
                {if condition='$member_list_edit.user_status eq 1'}
                <button class="btn btn-info btn-danger member_status_btn" type="button">
                    审核不通过
                </button>
                {else}
                <button class="btn btn-info btn-primary member_status_btn" type="button">
                    审核通过
                </button>
                {/if}


            </div>
        </div>
	</div><!-- /.page-content -->


{/block}
{block name="scripts"}
	<script type="text/javascript" src="__PUBLIC__/others/region.js"></script>
{/block}
