{foreach name="data" item="v"}
<tr>
    <td  height="28" >
        <label class="pos-rel">
            <input name="n_id[]" id="navid" class="ace" type="checkbox" value="{$v.member_list_id}">
            <span class="lbl"></span>
        </label>
    </td>
    <td>{$v.member_list_id}</td>
    <td>{$v.ZexamineeNumber}</td>
    <td height="28" >{$v.member_list_nickname}</td>
    <td>{$v.member_list_username}</td>
    <td>{$v.major_name}</td>
    <td>{$v.recruit_major_name}</td>
    <td>
        {$v.major_score_desc}
    </td>
    <td>{$v.major_score_total}</td>
    <td>{$v['status_desc']}</td>

</tr>
{/foreach}

