{foreach name="data" item="v"}
<tr>
    <td class="hidden-xs" height="28" >
        <label class="pos-rel">
            <input name="n_id[]" id="navid" class="ace" type="checkbox" value="{$v.member_list_id}">
            <span class="lbl"></span>
        </label>{$v.member_list_id}
    </td>
    <td>{$v.ZexamineeNumber}</td>
    <td height="28" >{$v.member_list_nickname}</td>
    <td>{$v.member_list_username}</td>
    <td>{$v.major_name}</td>
    <td>{$v.recruit_major_name}</td>
    <td>
        {$v.major_score_desc}
    </td>
    <td>{$v.major_score_total}</td>
    <td>{$v['status_desc']}</td>

</tr>
{/foreach}
<tr>
    <td height="50" align="center">
        <button id="btnsubmit" class="btn btn-danger hidden-xs btn-unactive">驳回审核</button>
    </td>
    <td colspan="20" align="center">{$page}</td>
</tr>
