<table class="table table-striped table-bordered table-hover" id="dynamic-table">
    <thead>
    <tr>
        <th width="60px"></th>
        <th>对口高职专业</th>
        <th>中职专业</th>
        <th>已审核人数</th>
        <th>科目安排</th>
        <th>考场安排</th>
        <th>日期安排</th>
        <th>时间安排</th>
        <th>操作</th>
    </tr>
    </thead>

    <tbody >
    <?php $i = 0; ?>
    {foreach name='data' item='v'}

    {if $v['examination_list_data']}
    {foreach name="v['examination_list_data']" item="examination"}
    <?php  $i++; ?>
    <tr class="examination examination_{$v.major_id}" id="examination_{$i}" rank="{$i}">
        <td height="28">
            <input type="hidden" name="major_id" value="{$v.major_id}">
            <input type="hidden" name="examination_id" value="{$examination.examination_id}">
        </td>
        <td>{$v.recruit_major_name}</td>
        <td>
            {$v.major_name}
        </td>
        <td class="member_count" data-value="{$v.member_count}">{$v.member_count}</td>
        <td width="400px">
            {foreach name="v['subject_list']" item="subject_two"}
            <label>
                <input type="checkbox" name="subject_id" value="{$subject_two.subject_id}" class="subject_id {$v.major_id}_{$subject_two.subject_id}"  attr-major-id="{$v.major_id}" {if in_array($subject_two.subject_id,$examination['examination_subject_id_arr']) } checked {/if} {if in_array($subject_two.subject_id,$v['all_examination_subject_id_arr']) } disabled {/if}/>{$subject_two.subject_name}
            </label>
            {/foreach}
        </td>
        <td width="400px">
            {foreach name="rooms" item='rv'}
            <label>
                <input type="checkbox" name="room_id" value="{$rv.room_id}" class="room_id" attr-value="{$rv.room_number}" {if in_array($rv.room_id,$examination['examination_room_id_arr']) } checked {/if}/>{$rv.room_name}({$rv.room_number}人)
            </label>
            {/foreach}
        </td>
        <td>
            <input type="text" class="layui-input date" id="date_{$i}" name="date" style="width:100px;" value="{$examination.date|default=date('Y-m-d')}">
        </td>
        <td>
            <input type="text" class="layui-input starttime" id="starttime_{$i}" name="starttime" style="width:80px;margin-right:5px;" value="{$examination.starttime|default='00:00'}">
            <input type="text" class="layui-input endtime" id="endtime_{$i}" name="starttime" style="width:80px;" value="{$examination.endtime|default='00:00'}"></td>
        <td>
            <div class="hidden-sm hidden-xs action-buttons">
                <button class="btn btn-fb-blue fb-radio examination-btn examination-submit">保存</button>
                <button class="btn btn-fb-blue fb-radio examination-btn examination-submit download" style="width:100px" href='{:url('admin/Examination/exportExamination',['examination_id' => $examination['examination_id']])}'>导出准考证</button>
                <button class="btn btn-fb-blue fb-radio examination-btn examination-submit download" style="width:100px" href='{:url('admin/Examination/exportExaminationSeats',['examination_id' => $examination['examination_id']])}'>导出座位贴</button>
                <button class="btn btn-fb-orange fb-radio examination-btn examination-delete">删除</button>
            </div>
        </td>
    </tr>
    {/foreach}
    {/if}

    {foreach name="v['left_subject_list']" item="subject"}
    <?php  $i++; ?>
    <tr class="examination examination_{$v.major_id}" id="examination_{$i}" rank="{$i}">
        <td height="28">
            <input type="hidden" name="major_id" value="{$v.major_id}">
        </td>
        <td>{$v.recruit_major_name}</td>
        <td>
            {$v.major_name}
        </td>
        <td class="member_count" data-value="{$v.member_count}">{$v.member_count}</td>
        <td width="400px">
            {foreach name="v['left_subject_list']" item="subject_two"}
            <label>
                <input type="checkbox" name="subject_id" value="{$subject_two.subject_id}" class="subject_id {$v.major_id}_{$subject_two.subject_id}"  attr-major-id="{$v.major_id}" {if $subject_two.subject_id == $subject.subject_id} checked {/if} />{$subject_two.subject_name}
            </label>
            {/foreach}
        </td>
        <td width="400px">
            {foreach name="rooms" item='rv'}
            <label>
                <input type="checkbox" name="room_id" value="{$rv.room_id}" class="room_id" attr-value="{$rv.room_number}" />{$rv.room_name}({$rv.room_number}人)
            </label>
            {/foreach}
        </td>
        <td>
            <input type="text" class="layui-input date" id="date_{$i}" name="date" style="width:100px;" value="{:date('Y-m-d')}">
        </td>
        <td>
            <input type="text" class="layui-input starttime" id="starttime_{$i}" name="starttime" style="width:80px;margin-right:5px;" value="00:00">
            <input type="text" class="layui-input endtime" id="endtime_{$i}" name="starttime" style="width:80px;" value="00:00"></td>
        <td>
            <div class="hidden-sm hidden-xs action-buttons">
                <button class="btn btn-fb-blue fb-radio examination-btn examination-submit" disabled>保存</button>
                <button class="btn btn-fb-blue fb-radio examination-btn examination-submit download" disabled style="width:100px" href='{:url('admin/Examination/exportExamination',['major_id' => $v['major_id']])}'>导出准考证</button>
                <button class="btn btn-fb-blue fb-radio examination-btn examination-submit download" disabled style="width:100px" href='{:url('admin/Examination/exportExaminationSeats',['major_id' => $v['major_id']])}'>导出座位贴</button>
            </div>
        </td>
    </tr>
    {/foreach}
    {/foreach}
    </tbody>
</table>