{extend name="admin@public/base" /}
{block name="main-content"}
	<div class="page-content">



		<!--主题-->
		<div class="page-header">
			<span>修改中职专业负责人</span>
</div>


		<div class="row">
			<div class="col-xs-12">
				<form class="form-horizontal adminform" name="admin_list_edit" method="post" action="{:url('admin/Admin/secondary_vocat_admin_runedit')}">
					<input name="admin_id" id="admin_id" type="hidden" value="{$admin_list.admin_id}" />
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 登录用户名：  </label>
						<div class="col-sm-6">
							<input type="text" name="admin_username" id="admin_username"  value="{$admin_list.admin_username}"  class="col-xs-10 col-sm-5" readonly/>
							<span class="lbl col-xs-12 col-sm-12"><span class="red">*</span>用户名必须是以字母开头，数字、符号组合</span>
						</div>
					</div>
					<div class="space-4"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 登录密码：  </label>
						<div class="col-sm-6">
							<input type="text" name="admin_pwd" id="admin_pwd" maxlength="15" minlength="6" placeholder="输入新的密码" class="col-xs-10 col-sm-5" />
							<span class="lbl col-xs-12 col-sm-12"><span class="red"></span>如不修改请留空，密码必须大于6位，小于15位</span>
						</div>
					</div>
					<div class="space-4"></div>

					<!-- <div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 用户邮箱：  </label>
						<div class="col-sm-6">
							<input type="email" name="admin_email" id="admin_email"  value="{$admin_list.admin_email}"  class="col-xs-10 col-sm-5" required/>
							<span class="lbl col-xs-12 col-sm-12"><span class="red">*</span>用于密码找回，请认真填写</span>
						</div>
					</div>
					<div class="space-4"></div> -->


					<div class="form-group school_group" id='school_html'>
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 所属中职: </label>
						<div class="col-sm-6">
							<select name="school_id"  class="col-sm-5"  id="school_more"  style="width:350px;margin-right:10px;" required>
								<option value="">请选择所属中职</option>
								{foreach name="school_list" item="v"}
									<option value="{$v.school_id}" {if condition="$v['school_id'] eq $admin_list['school_id']"}selected{/if} >{$v.school_name}</option>
								{/foreach}
							</select>

						</div>
					</div>
					<div class="form-group school_group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> </label>
						<div id="major-box">
							<div class="checkbox">
								{foreach name="major_list" item='v'}
								<label id="news_flag_h">
									<input {if in_array($v['major_id'],$major_ids)}checked{/if} class="ace ace-checkbox-2" type="checkbox" name="major_id[]" value="{$v.major_id}">
										<span class="lbl">{$v.major_name}</span>
								</label>
								{/foreach}

							</div>
						</div>
					</div>
					<div class="space-4"></div>


					<div class="clearfix form-actions">
						<div class="col-md-offset-3 col-md-9">
							<button class="btn btn-fb-blue fb-radio" type="submit">
								保存
							</button>

							 <button class="btn fb-radio btn-fb-orange" type="reset" onclick="window.history.go(-1);">
                                返回
                            </button>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div><!-- /.page-content -->

{/block}
